<section id="works"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1 class="mt mb">About Me</h1>
			<%= image_tag "div_bw_sqr.png", class: "img-circle img-responsive img-divij center-block", alt: ""  %>
  </div>
</div>

<div class="container">
		<div class="row centered mb">
			<div class="col-lg-8 col-lg-offset-2">

				<p>Hi, I am Divij! I am currently a newbie web developer, but don't worry, I will be a sensei in no time! :) </p>

				<p>I am very passionate about technology, business and growth marketing. I also enjoy teaching/mentoring, good asian food and more importantly, cricket!</p>

				<p>In my spare time, the web development community is a big part of my life. Whether attending interesting meetups, learning new skills online or attending a cool hackathon - I find keeping involved helps me stay up to date. </p>

				<p>Besides programming I love spending time with friends and family and can often be found going out to eat some delicious food over some footy, spending time with my cricket team, staying in to play Pictionary (even though I suck!), or planning a trip to someplace I've never been before.</p>

				<p>I graduated from Macquarie Univeristy in mid-2016 where I studied finance and accounting and did pretty well actually! While I was at university I tried to get involved in as many things as possible, and so I was quite lucky as I had heaps of great experiences - which eventually shaped my path to web development!</p>

				<p>I am currently loving life because it involves doing what I love - and I am soon looking for opportunities in the space! Watch out! ;) </p>

			</div>
		</div>
	</div>
