<section id="works"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1 class="mt mb">About Me</h1>
			<%= image_tag "div_bw_sqr.png", class: "img-circle img-responsive img-divij center-block", alt: ""  %>
  </div>
</div>

<div class="container">
		<div class="row lefted mb">
			<div class="col-lg-8 col-lg-offset-2">

				<p>Hi, I am Divij!</p>
				<p>Business Operations Professional. I enjoy solving complex business problems, helping manage cross-functional teams and getting things done. </p>
				<p>Bachelors in Accounting, Finance and a Diploma in Software Development. Also have knowledge in digital marketing areas - SEO, Analytics, Search/Ads and Mobile.</p>
				<p>Oh and I absolutely love teaching and mentoring. Have done so across all age levels (from little kids through to adults), differing topics (Economics, English, Start-ups) and with people from diverse backgrounds (Australia, Japan and International students).</p>
				<p>My journey so far has been amazing and I am so grateful for the opportunities. I truly love working with people and always learning through experiences. In my young career, I have been lucky enough to work across industries, countries and make some aweeeeesome relationships with such a diverse bunch! Omaaaghd thanks yo! :)</p>
				<p>You can contact me directly at divij.mehra.16@gmail.com or on +612 8006 2124.</p> 
				
			</div>

		</div>
	</div>
