<div id="footerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-4">
				<p><b>WEB DESIGNER, DEVELOPER & TRAVELLER</b></p>
			</div>

			<div class="col-lg-4">
				<p>Living in the best city, Sydney!</p>
			</div>
			<div class="col-lg-4">
				<p>hello@divijmehra.com</p>
			</div>
		</div>
	</div>
</div>
