<div id="footerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-4">
				<p><b> ❤ CODE, COFFEE and TRAVEL</b></p>
			</div>

			<div class="col-lg-4">
				<p>Yeeew! Living in the best city yo! Sydney! 😍 </p>
			</div>
			<div class="col-lg-4">
				<p><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@divijmehra.com</p>
			</div>
		</div>
	</div>
</div>
