<div id="jumbotron">
    <div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<h4>HELLO, MY NAME IS</h4>
				<h1 class="name-h1">DIVIJ MEHRA</h1>
          <h4><div class="mini-intro-text text-center mt">
            <span class="quotes skills">Web Developer</span>
            <span class="quotes skills">Digital Marketer</span>
            <span class="quotes skills">BizOps-er</span>
            <span class="quotes skills">Writer</span>
            <span class="quotes skills">Teacher</span>
            <span class="quotes skills">Traveller</span>
          </div></h4>
			</div>
		</div>
    </div>
</div>
