<div id="social">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<a href="https://github.com/divijm"><i class="fa fa-github" aria-hidden="true"></i></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<a href="https://www.linkedin.com/in/divijmehra/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<a href="https://twitter.com/divij_mehra"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<a href="https://www.instagram.com/divijm/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
