<section id="works"></section>
<div class="container">
	<div class="row centered mt mb">
		<h1 class="mt mb">My Thoughts</h1>
  </div>
</div>

<div class="container">
		<div class="row centered mb">
			<div class="col-lg-8 col-lg-offset-2">
				<p>Still thinking...</p>
			</div>
		</div>
	</div>